{% extends 'user/base.html' %}

{% block content %}

<h1>Search</h1>
<p>
<form method="post" action="/search/">
	{% csrf_token %}
	<div class="form-group">
		<div class="col-lg-5">
			<input typr="text" name="srh" class="form-control" placeholder="Enter name of student or teacher">
		</div>
		<label class="col-lg-2">
			<button type="submit" class="btn btn-danger">Search</button>
		</label>
	</div>

</form>
</p>
<div>
	{% if messages %}
		<ul>
			{% for k in messages %}
			<li style="color: red">{{k}}</li>
		{% endfor %}
		</ul>
	{% endif%}
</div>
<br>
<div style="color:blue">

	{% if sr %}
		{% for k in sr %}
		<table border="3px" width="300px">
			<tr>
				<td>Name</td>
				<td>{{ k.first_name }}  {{ k.last_name }}</td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td>{{ k.email }}</td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>{{ k.phone }}</td>
			</tr>
			<tr>
				<td>Course</td>
				<td>{{ k.courses }}</td>
			</tr>
			<tr>
				<td>Designation</td>
				{% if k.is_student %}
					<td>STUDENT</td>
				{% else %}
					<td>TEACHER</td>
				{% endif %}
			</tr>
		</table>
		{% endfor %}
	{% endif %}
</div>




{% endblock content %}   